In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("db1.sqlite3")

In [3]:
pwd

u'/home/khyaathi-python/pythonexamples/batch51'

In [4]:
# data quries: insert, update, delete
# structure quries: create alter drop
cur=con.cursor()

In [5]:
cur.execute("create table customer(id int, name varchar(60))")

In [7]:
q="insert into customer values(1,'jay')"
cur.execute(q)

In [8]:
con.commit()

In [9]:
for i in range(2,12):
    q="insert into customer values(%s, 'NAME:%s')"%(i,i)
    print q

insert into customer values(2, 'NAME:2')
insert into customer values(3, 'NAME:3')
insert into customer values(4, 'NAME:4')
insert into customer values(5, 'NAME:5')
insert into customer values(6, 'NAME:6')
insert into customer values(7, 'NAME:7')
insert into customer values(8, 'NAME:8')
insert into customer values(9, 'NAME:9')
insert into customer values(10, 'NAME:10')
insert into customer values(11, 'NAME:11')

In [10]:
for i in range(2,12):
    q="insert into customer values(%s, 'NAME:%s')"%(i,i)
    cur.execute(q)
con.commit()

In [11]:
q="select * from customer"
cur.execute(q)

In [12]:
cur.fetchall()

[(1, u'jay'),
 (2, u'NAME:2'),
 (3, u'NAME:3'),
 (4, u'NAME:4'),
 (5, u'NAME:5'),
 (6, u'NAME:6'),
 (7, u'NAME:7'),
 (8, u'NAME:8'),
 (9, u'NAME:9'),
 (10, u'NAME:10'),
 (11, u'NAME:11')]

In [13]:
cur.fetchall()

[]

In [14]:
q="select * from customer where id=12"
cur.execute(q)
print cur.fetchall()

[]

In [15]:
q="select * from customer where id=10"
cur.execute(q)
print cur.fetchall()

[(10, u'NAME:10')]

In [16]:
q="delete from customer where id=10"
cur.execute(q)
con.commit()

In [17]:
q="update customer set name='JAYARAM' where id=8"
cur.execute(q)
con.commit()

In [18]:
q="update customer set name='JAYARAM'"
cur.execute(q)
con.commit()

In [2]:
import psycopg2

In [3]:
con = psycopg2.connect(host="localhost",user="postgres",password="root",dbname="batch51",port=5432)

In [4]:
cur=con.cursor()

In [5]:
cur.execute("create table customer(id int, name varchar(60))")
for i in range(2,102):
    q="insert into customer values(%s, 'NAME:%s')"%(i,i)
    cur.execute(q)
con.commit()