In [1]:
a=1000
b=2000

In [2]:
# arithmatic operators: +,-,*,/,%,**
#boolean operators: >,<,<=,>=,==,!=,is,in,not in
#bitwise operators: &,|,^, >>,<<

# int supports all except in and not in

In [3]:
a+b

30

In [4]:
a-b

-10

In [5]:
a*b

200

In [6]:
a/b

0

In [7]:
a not b

SyntaxError: invalid syntax (<ipython-input-7-d1e4e4acf762>, line 1)

In [8]:
a in b

TypeError: argument of type 'int' is not iterable

In [9]:
a not  in b

TypeError: argument of type 'int' is not iterable

In [10]:
print 12/20.0

0.6

In [11]:
a=12.34
b=56.78
# arithmatic operators: +,-,*,/,%,**
#boolean operators: >,<,<=,>=,==,!=,is,in,not in
#bitwise operators: &,|,^, >>,<<

# it's not supports in, not in, and all bitwise operators

In [12]:
s1="python"
s2='program'
print s1+s2

pythonprogram

In [13]:
# all arithmatic operators are not supports except +
# string will supports all boolean operators
# string will not supports all bitwise operators

In [14]:
l1=[1,2,3,4,"pytho",1.2,1+2j] # list
c1=1+2j # complex
d1={"name":"anil","age":23} #dict
t=(10,20,30,40,"pyton",1.2,1+2j) # tuple
s=set([10,20,30,40]) # set

In [15]:
a=10
b=20
print a/b

0

In [16]:
a=10
b=20.0
print a/b

0.5

In [17]:
a=10
a1=float(a)
print a
print a1

10
10.0

In [18]:
#==, is

SyntaxError: invalid syntax (<ipython-input-18-a653245d6fc5>, line 1)

In [19]:
a=10
b=10.0
print a==b

True

In [20]:
print a is b

False

In [21]:
a=1000
b=1000
print a==b
print a is b

True
False

In [22]:
a=1000
b=a
print a==b
print a is b

True
True

In [23]:
a=10

In [24]:
print a**4

10000

In [25]:
print a**2

100

In [26]:
print a**0.5

3.16227766017

In [27]:
a=1000

In [28]:
a=1000
b=2000
a**b

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000L

In [1]:
print 10+20/2*3

40

In [2]:
print 10*20/5

40

In [3]:
print 10/20.0/5.0 # 2.5,

0.1

In [4]:
print 10/(20/5.0)

2.5

In [5]:
a=10
b=20
print a+b**2

410

In [6]:
print (a+b)*(a+b)

900

In [7]:
print (a+b)**2

900

In [8]:
print a+b*a+b*a+b

430

In [9]:
print (a+b)*(a+b)*(a+b)

27000

In [10]:
print (a+b)**3

27000

In [11]:
print a**2+b**2+2ab

SyntaxError: invalid syntax (<ipython-input-11-4480f20d9384>, line 1)

In [12]:
print a**2+b**2+2*a*b

900

In [13]:
print a**3+b**3+3*a*b*a+b

15020

In [14]:
print a**3+b**3+3*a*b*(a+b)

27000

In [15]:
a=raw_input("Enter a value:")
print a

Enter a value:sambasiva
sambasiva

In [18]:
a=input("enter a value:")
print a

enter a value:123
123

In [19]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a,type(a)
print b, type(b)

Enter a value:10
Enter b value:10
10 <type 'str'>
10 <type 'int'>

In [20]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a,type(a)
print b, type(b)

Enter a value:1.2
Enter b value:1.2
1.2 <type 'str'>
1.2 <type 'float'>

In [21]:
a="1.2"
print a, type(a)

1.2 <type 'str'>

In [22]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a,type(a)
print b, type(b)

Enter a value:1+2j
Enter b value:1+2j
1+2j <type 'str'>
(1+2j) <type 'complex'>

In [23]:
a="1+2j"
print a, type(a)

1+2j <type 'str'>

In [24]:
a=1+2j
b=str(a)
print a, type(b)

(1+2j) <type 'str'>

In [25]:
a="20"
b=int(a)
print b, type(b)

20 <type 'int'>

In [26]:
a=raw_input("enter a value:")
b=raw_input("enter b value:")
a1=int(a)
b1=int(b)
print a1**2+b1**2+2*a1*b1

enter a value:12
enter b value:34
2116

In [27]:
ord("a")

97

In [28]:
chr(97)

'a'

In [29]:
ord("A")

65

In [30]:
ord("Z")

90

In [31]:
ord("z")

122

In [32]:
import math

In [2]:
name="anil"
age=23
weight=56.66788
height=5.65786
# Person details:
#    Name:anil, Age:23, Height:5.66, Weight:56.66788
print "Person details:"
print "Name:anil, Age:23, Height:5.66, Weight:56.66788"

Person details:
Name:anil, Age:23, Height:5.66, Weight:56.66788

In [3]:
name="anil"
age=23
weight=56.66788
height=5.65786
# Person details:
#    Name:anil, Age:23, Height:5.66, Weight:56.66788
print "Person details:"
print "Name:name"

Person details:
Name:name

In [4]:
name="anil"
age=23
weight=56.66788
height=5.65786
# Person details:
#    Name:anil, Age:23, Height:5.66, Weight:56.66788
print "Person details:"
print "Name:"name

SyntaxError: invalid syntax (<ipython-input-4-55be6da08199>, line 8)

In [5]:
name="anil"
age=23
weight=56.66788
height=5.65786
# Person details:
#    Name:anil, Age:23, Height:5.66, Weight:56.66788
print "Person details:"
print "Name:",name

Person details:
Name: anil

In [6]:
name="anil"
age=23
weight=56.66788
height=5.65786
# Person details:
#    Name:anil, Age:23, Height:5.66, Weight:56.66788
print "Person details:"
print "Name:",name,"Age:",age,"Height:",height,"weight:",weight

Person details:
Name: anil Age: 23 Height: 5.65786 weight: 56.66788

In [7]:
name="anil"
age=23
weight=56.66788
height=5.65786
# Person details:
#    Name:anil, Age:23, Height:5.66, Weight:56.66788
print "Person details:"
print "Name:",name,", Age:",age,", Height:",height,", weight:",weight

Person details:
Name: anil , Age: 23 , Height: 5.65786 , weight: 56.66788

In [8]:
print "Name:"+name

Name:anil

In [9]:
name="anil"
age=23
weight=56.66788
height=5.65786
# Person details:
#    Name:anil, Age:23, Height:5.66, Weight:56.66788
print "Person details:"
print "Name:"+name+", Age:"+age,", Height:"+height+", weight:"+weight

Person details:

TypeError: cannot concatenate 'str' and 'int' objects

In [10]:
"cost:"+20

TypeError: cannot concatenate 'str' and 'int' objects

In [11]:
"cost:"+str(20)

'cost:20'

In [12]:
name="anil"
age=23
weight=56.66788
height=5.65786
# Person details:
#    Name:anil, Age:23, Height:5.66, Weight:56.66788
print "Person details:"
print "Name:"+name+", Age:"+str(age)+", Height:"+height+", weight:"+weight

Person details:

TypeError: cannot concatenate 'str' and 'float' objects

In [13]:
name="anil"
age=23
weight=56.66788
height=5.65786
# Person details:
#    Name:anil, Age:23, Height:5.66, Weight:56.66788
print "Person details:"
print "Name:"+name+", Age:"+str(age)+", Height:"+str(height)+", weight:"+str(weight)

Person details:
Name:anil, Age:23, Height:5.65786, weight:56.66788

In [15]:
float("56.78945")

56.78945

In [16]:
float("56.78945",2)

TypeError: float() takes at most 1 argument (2 given)

In [17]:
name="anil"
age=23
weight=56.66788
height=5.65786
# Person details:
#    Name:anil, Age:23, Height:5.66, Weight:56.66788
print "Person details:\nName:"+name+", Age:"+str(age)+", Height:"+str(height)+", weight:"+str(weight)

Person details:
Name:anil, Age:23, Height:5.65786, weight:56.66788

In [18]:
name="anil"
age=23
weight=56.66788
height=5.65786
# Person details:
#    Name:anil, Age:23, Height:5.66, Weight:56.66788
print "Person details:\n\tName:"+name+", Age:"+str(age)+", Height:"+str(height)+", weight:"+str(weight)

Person details:
	Name:anil, Age:23, Height:5.65786, weight:56.66788

In [19]:
print "\n"

In [20]:
print "\\n"

\n

In [21]:
print "sdfsdfsdfsd\nsdfsdfsd\nsdfdsfsdfsd\nsdfsdfsdf\nsdfsdfsd\nsdfsdfsdf\n"

sdfsdfsdfsd
sdfsdfsd
sdfdsfsdfsd
sdfsdfsdf
sdfsdfsd
sdfsdfsdf

In [22]:
print "sdfsdfsdfsd\\nsdfsdfsd\\nsdfdsfsdfsd\\nsdfsdfsdf\\nsdfsdfsd\\nsdfsdfsdf\\n"

sdfsdfsdfsd\nsdfsdfsd\nsdfdsfsdfsd\nsdfsdfsdf\nsdfsdfsd\nsdfsdfsdf\n

In [23]:
print r"sdfsdfsdfsd\nsdfsdfsd\nsdfdsfsdfsd\nsdfsdfsdf\nsdfsdfsd\nsdfsdfsdf\n"

sdfsdfsdfsd\nsdfsdfsd\nsdfdsfsdfsd\nsdfsdfsdf\nsdfsdfsd\nsdfsdfsdf\n

In [24]:
print r'sdfsdfsdfsd\nsdfsdfsd\nsdfdsfsdfsd\nsdfsdfsdf\nsdfsdfsd\nsdfsdfsdf\n'

sdfsdfsdfsd\nsdfsdfsd\nsdfdsfsdfsd\nsdfsdfsdf\nsdfsdfsd\nsdfsdfsdf\n

In [25]:
print 'sdfsdfsdfsd\nsdfsdfsd\nsdfdsfsdfsd\nsdfsdfsdf\nsdfsdfsd\nsdfsdfsdf\n'

sdfsdfsdfsd
sdfsdfsd
sdfdsfsdfsd
sdfsdfsdf
sdfsdfsd
sdfsdfsdf

In [26]:
# It's a "hot" day in 'hyderabad'
print "It's"

It's

In [27]:
# It's a "hot" day in 'hyderabad'
print 'It's'

SyntaxError: invalid syntax (<ipython-input-27-9f511fdcb24a>, line 2)

In [28]:
# It's a "hot" day in 'hyderabad'
print 'It''s'

Its

In [29]:
# It's a "hot" day in 'hyderabad'
print 'It\'s'

It's

In [30]:
print "It's a \"hot\" day in 'hyderabad'"

It's a "hot" day in 'hyderabad'

In [31]:
print 'It\'s a "hot" day in \'hyderabad\''

It's a "hot" day in 'hyderabad'

In [32]:
print '"'

"

In [33]:
print 'It\'s a \"hot\" day in \'hyderabad\''

It's a "hot" day in 'hyderabad'

In [34]:
print "\"

SyntaxError: EOL while scanning string literal (<ipython-input-34-dd36a44f2c78>, line 1)

In [35]:
print "\\"

\

In [36]:
print "%s%d%f%o%x%r"

%s%d%f%o%x%r

In [37]:
cost_price=30
print "cost price of the product:",cost_price

cost price of the product: 30

In [38]:
cost_price=30
print "cost price of the product:"+cost_price

TypeError: cannot concatenate 'str' and 'int' objects

In [39]:
cost_price=30
print "cost price of the product:"+str(cost_price)

cost price of the product:30

In [40]:
cost_price=30.3456
print "cost price of the product:"+str(cost_price)

cost price of the product:30.3456

In [41]:
cost_price=30.3456
cost_price_int = int(cost_price)
print "cost price of the product:"+str(cost_price_int)

cost price of the product:30

In [42]:
cost_price=30.3456
#cost_price_int = int(cost_price)
#print "cost price of the product:"+str(cost_price_int)
print "cost price of the product:%d",cost_price

cost price of the product:%d 30.3456

In [43]:
cost_price=30.3456
#cost_price_int = int(cost_price)
#print "cost price of the product:"+str(cost_price_int)
print "cost price of the product:%d"%cost_price

cost price of the product:30

In [44]:
cost_price=30.3456
#cost_price_int = int(cost_price)
#print "cost price of the product:"+str(cost_price_int)
print "cost price of %d the product:"%cost_price

cost price of 30 the product:

In [45]:
print "%f"%(23)

23.000000

In [46]:
print "%f"%(23.234235423564356436)

23.234235

In [47]:
print "%.2f"%(23.234235423564356436)

23.23

In [48]:
print "%.10f"%(23.234235423564356436)

23.2342354236

In [49]:
print "%f"%(23.234235423564356436)

23.234235

In [50]:
print "%o"%1234

2322

In [51]:
print "%x"%1234

4d2

In [52]:
print "%X"%1234

4D2

In [53]:
print "%f"%23.234235423564356436

23.234235

In [54]:
print "%x"%9676622023

240c588c7

In [55]:
hex_n = "240c588c7"
print int(hex_n,16)

9676622023

In [56]:
bin_n="1001010"
print int(bin_n)

1001010

In [57]:
bin_n="1001010"
print int(bin_n,2)

74

In [58]:
bin_n="10010103"
print int(bin_n,2)

ValueError: invalid literal for int() with base 2: '10010103'

In [59]:
s="1234an"
print int(s)

ValueError: invalid literal for int() with base 10: '1234an'

In [60]:
name="anil"
age=23
weight=56.66788
height=5.65786
# Person details:
#    Name:anil, Age:23, Height:5.66, Weight:56.66788
print "Person details:\n\tName:"+name+", Age:"+str(age)+", Height:"+str(height)+", weight:"+str(weight)
print "Person details:\n\tName:%s, Age:%s, Weight:%.3f, Height:%.2f"%(name,age,weight,height)

Person details:
	Name:anil, Age:23, Height:5.65786, weight:56.66788
Person details:
	Name:anil, Age:23, Weight:56.668, Height:5.66

In [61]:
name="anil"
age=23
weight=56.66788
height=5.65786
# Person details:
#    Name:anil, Age:23, Height:5.66, Weight:56.66788
print "Person details:\n\tName:"+name+", Age:"+str(age)+", Height:"+str(height)+", weight:"+str(weight)
print "Person details:\n\tName:%s, Age:%s, Weight:%d, Height:%.2f"%(name,age,weight,height)

Person details:
	Name:anil, Age:23, Height:5.65786, weight:56.66788
Person details:
	Name:anil, Age:23, Weight:56, Height:5.66

In [63]:
print "%s"%("sdfsdf\nsdfdsf\ndsf")

sdfsdf
sdfdsf
dsf

In [64]:
print "%r"%("sdfsdf\nsdfdsf\ndsf")

'sdfsdf\nsdfdsf\ndsf'